<figure style="margin-top: 10px;margin-bottom: 10px;display: flex;flex-direction: column;justify-content: center;align-items: center;"><img style="display: block; margin-right: auto; margin-left: auto; visibility: visible !important; height: auto !important; width: 396px !important;" src="\1" alt="\2"/></figure>