<blockquote style="font-size: 0.9em; overflow: auto; background-color: rgba(0, 0, 0, 0.05); margin-bottom: 20px; margin-top: 20px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; line-height: 1.8; border: none; color: rgb(136, 136, 136); visibility: visible;">
    <span style="color: rgb(85, 85, 85); font-size: 4em; font-family: Arial, serif; line-height: 1em; font-weight: 700; visibility: visible;">“</span>